* {
  box-sizing: border-box;
}

html {
	height: 100%;

}

body {
  font-family: 'Roboto'sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgba(223, 242, 247, .5);
	height: 100%;
	margin: 0;
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	display: flex;
  justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;

}

.chat {

	height: 75%;
	width: 45%;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	
} 

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-image: url("bg.jpg");
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	color:#8c4d79;
	font-size: 20px
}

#bot {
	margin-left: auto;
}

.bot {
	font-family: 'Roboto'sans-serif;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}
.open-button {
	background-color: #8c4d79;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
  }

/* Mobile */

@media only screen and (max-width: 980px) {
  .container {
		flex-direction: column; 
		justify-content: flex-start;
	}
	.chat {
		width: 75vw;
		margin: 10vw;
	}
}
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
  }
 